.is-hidden {
  visibility: hidden;
  pointer-events: none;
}

.container-shift {
  transform: translateX(-100px);
  transition: transform 800ms ease-out;
}

.section-title {
  font-family: Graphik Regular, sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.19;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.features-item-title, .contents-title, .footer-nav-title {
  font-family: Graphik Medium, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.section-subtitle {
  font-family: Graphik Regular, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.features-item-paragraphe, .contents-text, .testimonials-text {
  font-family: Graphik Regular, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.nav-link, .testimonials-title, .footer-nav-items a, .contacts a {
  font-family: Graphik Medium, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-decoration: none;
}

.login-btn, .try-button, .learn-button, .contents-button-signup, .contents-button-try, .gallery-button, .partners-btn, .open-type-button-try {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 20px 40px;
  background: #4452fe;
  color: #ffffff;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms linear, border-color 250ms linear;
}

.login-btn:hover, .try-button:hover, .learn-button:hover, .contents-button-signup:hover, .contents-button-try:hover, .gallery-button:hover, .partners-btn:hover, .open-type-button-try:hover, .login-btn:focus, .try-button:focus, .learn-button:focus, .contents-button-signup:focus, .contents-button-try:focus, .gallery-button:focus, .partners-btn:focus, .open-type-button-try:focus {
  background: #4452fe;
  border-color: #4452fe;
}

.nav-link {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link:hover, .nav-link:focus {
  color: #4452fe;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background-color: #4452fe;
  transform: scaleX(0) translateY(-5px);
  transition: transform 250ms linear;
}

.nav-link:hover::after, .nav-link:focus::after {
  transform: scaleX(1) translateY(0px);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Graphik Regular';
  src: local("Graphik Regular"), local("Graphik-Regular"), url("fonts/Graphik-Regular.woff2") format("woff2"), url("fonts/Graphik-Regular.woff") format("woff"), url("fonts/Graphik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Medium';
  src: local("Graphik Medium"), local("Graphik-Medium"), url("fonts/Graphik-Medium.woff2") format("woff2"), url("fonts/Graphik-Medium.woff") format("woff"), url("fonts/Graphik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

img {
  display: block;
}

body {
  background-color: #181818;
  padding-top: 164px;
}

@media screen and (min-width: 1230px) {
  body {
    padding-top: 118px;
  }
}

ul {
  list-style: none;
}

section {
  padding: 100px 0;
  margin-bottom: 50px;
  text-align: center;
  box-shadow: 0 24px 13px -9px #4452fe;
  background-image: linear-gradient(180deg, rgba(30, 30, 30, 0) 80%, #0e0e0e 100%);
}

a {
  transition: color 250ms linear;
}

a:hover,
a:focus {
  color: #4452fe;
}

svg {
  fill: #ffffff;
  transition: fill 250ms linear;
}

svg:hover, svg:focus {
  fill: #4452fe;
}

.container {
  margin: 0 auto;
  max-width: 550px;
}

@media screen and (min-width: 1230px) {
  .container {
    max-width: 1100px;
  }
}

.section-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.section-subtitle {
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #181818;
  z-index: 10;
}

.section-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

@media screen and (min-width: 1230px) {
  .section-header .container {
    max-width: 1100px;
    padding: 20px 30px;
  }
}

.logo {
  width: 206px;
  height: 78px;
}

.nav-header {
  display: none;
}

@media screen and (min-width: 1230px) {
  .nav-header {
    display: block;
  }
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.nav-list li:not(:last-child) {
  margin-right: 31px;
}

.login-btn {
  background-color: transparent;
  padding: 14px 46px;
  margin: 0;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.menu-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 1230px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn:hover, .menu-btn:focus {
  --color1: #02e4c0;
}

.menu-icon {
  width: 66px;
  height: 53px;
}

.section-hero {
  padding-bottom: 480px;
  background-image: url("../img/hero/hero-screens-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 837px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(180deg, rgba(30, 30, 30, 0) 80%, #0e0e0e 100%), url("../img/hero/hero-screens-mobile@2x.jpg");
  }
}

@media screen and (min-width: 1230px) {
  .section-hero {
    background-size: 1579px;
    padding-bottom: 890px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #0e0e0e 100%), url("../img/hero/hero-screens-desktop@1x.jpg");
  }
}

@media screen and (min-width: 1230px) and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #0e0e0e 100%), url("../img/hero/hero-screens-desktop@2x.jpg");
  }
}

.section-hero .section-title {
  font-weight: 400;
  max-width: 70%;
}

@media screen and (min-width: 1230px) {
  .section-hero .section-title {
    font-size: 80px;
    max-width: 65%;
    font-size: 80px;
  }
}

.section-hero .section-subtitle {
  padding: 0 80px;
  margin-bottom: 67px;
}

@media screen and (min-width: 1230px) {
  .section-hero .section-subtitle {
    max-width: 60%;
    padding: 0;
    margin-bottom: 95px;
    white-space: normal;
  }
}

.hero-btns {
  display: inline-block;
  margin: 0 auto;
}

@media screen and (min-width: 1230px) {
  .hero-btns {
    display: inline-flex;
  }
}

.try-button {
  margin-bottom: 21px;
}

@media screen and (min-width: 1230px) {
  .try-button {
    margin-bottom: 0;
    margin-right: 35px;
  }
}

.learn-button {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.section-features .section-subtitle {
  max-width: 75%;
  margin-bottom: 27px;
}

@media screen and (min-width: 1230px) {
  .section-features .section-subtitle {
    max-width: 60%;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1230px) {
  .features-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.features-chatbot {
  width: 100%;
  max-width: 324px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 113px;
}

@media screen and (min-width: 1230px) {
  .features-chatbot {
    max-width: 696px;
    margin-bottom: 0;
  }
}

.features-list {
  max-width: 309px;
  padding: 20px;
  margin: 0 auto;
  text-align: left;
}

@media screen and (min-width: 1230px) {
  .features-list {
    margin: 0;
  }
}

.features-item:not(:last-child) {
  margin-bottom: 25px;
}

.features-item-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.features-icon {
  margin-top: 5px;
  fill: #4452fe;
}

.features-icon.spoons {
  width: 26px;
  height: 24px;
}

.features-icon.alien {
  width: 30px;
  height: 30px;
}

.features-icon.infinity {
  width: 41px;
  height: 19px;
}

.features-item-title {
  max-width: 65%;
  padding: 0 10px 10px 10px;
}

.features-item-paragraphe {
  padding: 10px;
}

.section-contents .section-subtitle {
  width: 65%;
  margin-bottom: 54px;
}

@media screen and (min-width: 1230px) {
  .section-contents .section-subtitle {
    width: 53%;
  }
}

.content-cards-wrapper {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1230px) {
  .content-cards-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.contents-card {
  max-width: 348px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 25px;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1230px) {
  .contents-card {
    max-width: 476px;
    height: 620px;
    padding: 40px 35px;
    margin-bottom: 0;
  }
}

.contents-title {
  color: #000000;
  padding: 10px;
  margin-bottom: 20px;
}

.contents-text {
  padding: 10px;
}

.contents-card-img {
  border-radius: 14px;
  width: 100%;
}

.contents-button-signup {
  margin-top: 57px;
  margin-bottom: 57px;
}

.contents-button-try {
  margin-top: 20px;
  margin-bottom: 26px;
}

.section-gallery .section-subtitle {
  width: 57%;
  padding: 10px;
  margin-bottom: 54px;
}

@media screen and (min-width: 1230px) {
  .section-gallery .section-subtitle {
    width: 54%;
  }
}

.gallery-images-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-images-wrapper picture {
  margin-bottom: 33px;
}

.gallery-images-wrapper .ipad,
.gallery-images-wrapper .talk,
.gallery-images-wrapper .domore,
.gallery-images-wrapper .code,
.gallery-images-wrapper .bluekey,
.gallery-images-wrapper .camera {
  display: none;
}

@media screen and (min-width: 1230px) {
  .gallery-images-wrapper {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .gallery-images-wrapper picture {
    margin-right: 33px;
    margin-bottom: 44px;
  }
  .gallery-images-wrapper .domore,
  .gallery-images-wrapper .camera {
    margin-right: 0;
  }
  .gallery-images-wrapper .earphones,
  .gallery-images-wrapper .hands,
  .gallery-images-wrapper .laptop {
    display: none;
  }
  .gallery-images-wrapper .ipad,
  .gallery-images-wrapper .talk,
  .gallery-images-wrapper .domore,
  .gallery-images-wrapper .code,
  .gallery-images-wrapper .bluekey,
  .gallery-images-wrapper .camera {
    display: block;
  }
}

.gallery-image {
  width: auto;
  height: 285px;
  border-radius: 12px;
}

.gallery-button {
  border: 1px solid #ffffff;
  background-color: transparent;
  margin-top: 11px;
}

@media screen and (min-width: 1230px) {
  .gallery-button {
    margin-top: 0;
  }
}

.section-partners .section-subtitle {
  text-align: center;
  margin-bottom: 60px;
  width: 54%;
}

@media screen and (min-width: 1230px) {
  .section-partners .section-subtitle {
    white-space: initial;
  }
}

.partners-icons-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 286px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

@media screen and (min-width: 1230px) {
  .partners-icons-wrapper {
    justify-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
  }
}

.partners-link {
  display: block;
}

@media screen and (min-width: 1230px) {
  .partners-link:not(:last-child) {
    margin-right: 74px;
  }
}

.partners-icon {
  width: 80px;
  height: 60px;
}

@media screen and (min-width: 1230px) {
  .partners-icon.ibm {
    width: 150px;
  }
}

.partners-btn {
  border: 1px solid white;
  background-color: transparent;
}

.section-testimonials .section-title {
  margin-bottom: 60px;
}

.testimonials-cards-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonials-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  padding: 40px;
  text-align: left;
  border: 1px solid #dedede;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1230px) {
  .testimonials-card {
    width: 430px;
    margin: 10px;
  }
}

.testimonials-image {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

.testimonials-title {
  width: 42%;
}

.testimonials-text {
  width: 80%;
  margin-top: 30px;
}

@media screen and (min-width: 1230px) {
  .section-open-type {
    background-color: inherit;
  }
}

.section-open-type .section-title {
  width: 80%;
  margin-bottom: 37px;
}

@media screen and (min-width: 1230px) {
  .section-open-type .section-title {
    text-align: left;
    width: 480px;
    margin-left: 0;
  }
}

.section-open-type .container {
  overflow: hidden;
}

@media screen and (min-width: 1230px) {
  .section-open-type .container {
    width: 1220px;
    height: 370px;
    background-color: #1e1e1e;
    position: relative;
    padding: 60px 90px;
    background-color: #343434;
    border-radius: 33px;
    z-index: -1;
  }
}

.open-type-button-try {
  margin-bottom: 106px;
}

@media screen and (min-width: 1230px) {
  .open-type-button-try {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.open-type-img {
  margin: 0 auto;
  width: 450px;
  height: auto;
}

@media screen and (min-width: 1230px) {
  .open-type-img {
    position: absolute;
    top: 40px;
    right: -10px;
    width: 520px;
    height: auto;
  }
}

.section-footer {
  padding-top: 40px;
  margin-bottom: 70px;
}

.footer-wrap {
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 1230px) {
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1031px;
  }
}

.footer-nav {
  margin: 0 auto;
}

@media screen and (min-width: 1230px) {
  .footer-nav {
    display: flex;
    margin: 0;
  }
}

.footer-nav li {
  margin-bottom: 75px;
}

@media screen and (min-width: 1230px) {
  .footer-nav li {
    margin-bottom: 0;
  }
  .footer-nav li:not(:last-child) {
    margin-right: 75px;
  }
}

.footer-nav-title {
  margin-bottom: 40px;
}

.footer-nav-items li:not(:last-child) {
  margin-bottom: 20px;
}

.contacts {
  margin-bottom: 40px;
}

.contacts svg {
  fill: currentColor;
  margin-right: 12px;
}

.contacts-link {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.social-networks {
  display: flex;
  justify-content: flex-start;
}

.social-networks li:not(:last-child) {
  margin-right: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  opacity: 1;
  z-index: 10;
  transition: opacity 250ms linear, visibility 0ms linear 0ms;
}

.backdrop.is-hidden {
  opacity: 0;
  transition: opacity 250ms linear, visibility 0ms linear 250ms;
}

@media screen and (min-width: 1230px) {
  .backdrop {
    display: none;
  }
}

.backdrop .container {
  position: relative;
  padding: 15px 20px;
}

.logo-modal {
  display: block;
  width: 30%;
  margin-bottom: 80px;
}

.menu-close-btn {
  position: absolute;
  top: 26px;
  right: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-close-btn:hover, .menu-close-btn:focus {
  --color1: #02e4c0;
}

.menu-close-icon {
  width: 66px;
  height: 53px;
}

.nav-modal {
  width: 30%;
  margin: auto;
}

.nav-modal a {
  display: block;
  text-align: center;
}

.modal-nav-list li:not(:last-child) {
  margin-bottom: 30px;
}
/*# sourceMappingURL=main.css.map */