%font-second-headline {
  font-family: Graphik Regular, sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.19;
  letter-spacing: 0.2px;
  color: var(--text-secondary);
}
%font-title {
  font-family: Graphik Medium, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: var(--text-secondary);
}

%font-sub-heading {
  font-family: Graphik Regular, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: var(--text-secondary);
}

%font-button {
  font-family: Graphik Medium, sans-serif;
  font-size: 17px;
  line-height: 1.47;
  letter-spacing: 0.2px;
  color: var(--text-main);
}
%font-subtitle {
  font-family: Graphik Medium, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: var(--text-third);
}
%font-paragraphe {
  font-family: Graphik Regular, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: var(--text-main);
}
%font-link {
  font-family: Graphik Medium, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: var(--text-secondary);
  text-decoration: none;
}
%font-mobile-menu {
  font-family: Graphik Regular, sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: var(--text-main);
}
