*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

//----------------  Custom font declarations  ---------------

@font-face {
  font-family: 'Graphik Regular';
  src: local('Graphik Regular'), local('Graphik-Regular'),
    url('fonts/Graphik-Regular.woff2') format('woff2'),
    url('fonts/Graphik-Regular.woff') format('woff'),
    url('fonts/Graphik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik Medium';
  src: local('Graphik Medium'), local('Graphik-Medium'),
    url('fonts/Graphik-Medium.woff2') format('woff2'),
    url('fonts/Graphik-Medium.woff') format('woff'),
    url('fonts/Graphik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
//----------------  ------------------------  ---------------

img {
  display: block;
}
body {
  background-color: $bg-dark;
  padding-top: 164px;
  @media screen and (min-width: $breakpoint-desktop) {
    padding-top: 118px;
  }
}
ul {
  list-style: none;
}
section {
  margin-bottom: 100px;
  text-align: center;
}
.container {
  margin: 0 auto;
  max-width: 550px;
  @media screen and (min-width: $breakpoint-desktop) {
    max-width: 1100px;
  }
}
.section-title {
  @extend %font-second-headline;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.section-subtitle {
  @extend %font-sub-heading;
  margin-left: auto;
  margin-right: auto;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  background: $bg-light;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  border-radius: 10px;
}
