.is-hidden {
  visibility: hidden;
  pointer-events: none;
}

.container-shift {  
  opacity: 0;
  transform: translateX(-100px);
  transition: transform 800ms ease-out,
              opacity 800ms ease-out;
}