.section-contents {
  & .section-subtitle {
    width: 65%;
    margin-bottom: 54px;
    @media screen and(min-width: $breakpoint-desktop) {
      width: 53%;
    }
  }
}
.content-cards-wrapper {
  display: block;
  margin: 0 auto;
  @media screen and(min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
  }
}
.contents-card {
  width: 348px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 25px;
  background: $bg-light;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-bottom: 30px;

  @media screen and(min-width: $breakpoint-desktop) {
    width: 476px;
    height: 620px;
    padding: 40px 35px;
    margin-bottom: 0;
  }
}
.contents-title {
  @extend %font-title;
  color: $text-dark;
  padding: 10px;
  margin-bottom: 20px;
}
.contents-text {
  @extend %font-paragraphe;
  padding: 10px;
}
.contents-card-img {
  border-radius: 14px;
  width: 100%;
}
.contents-button-signup {
  @extend %button;
  margin-top: 57px;
  margin-bottom: 57px;
}
.contents-button-try {
  @extend %button;
  margin-top: 20px;
  margin-bottom: 26px;
}
